@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.form {
    width: 80%;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .contact-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 40px auto;
  }
  
  label {
    font-size: 20px;
    margin-top: 30px;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #2980b9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #3498db;
  }